<div class="chart-container">
    <app-custom-panel title="Balance and Savings">
        <p-chart *ngIf="showPieChart" type="pie" width="300" height="300" [data]="pieChartData"></p-chart>
        <ng-container *ngIf="!showPieChart">
            <p style="height: 270px; text-align: center;">No data to display.</p>
        </ng-container>
    </app-custom-panel>
    <app-custom-panel title="Income and Expenses">
        <p-chart type="line" width="300" height="300" [data]="incomeExpenseChartData"></p-chart>
    </app-custom-panel>