<!-- dashboard-expenses-broken-down.component.html -->
<app-custom-panel title="Total expenses" class="expenses-break-down">
    <div class="expenses-break-down-container">
        <p-chart type="doughnut" [data]="data"></p-chart>
        <p-table [value]="tableData">
            <ng-template pTemplate="body" let-expense>
                <tr>
                    <td><span class="color-circle" [ngStyle]="{'background-color': getColor(expense.category)}"></span>
                        {{ expense.category }}</td>
                    <td>{{ expense.amount | currency:'EGP':'symbol-narrow'}}</td>
                    <td>{{ expense.percentage }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</app-custom-panel>