<div>
    <p-card header="Income" styleClass="card">
        <p class="income">
            6969 EGP
        </p>
    </p-card>
    <p-card header="Expenses">
        <p class="expenses">
            4220 EGP
        </p>
    </p-card>
    <p-card header="Balance">
        <p class="balance">
            4220 EGP
        </p>
    </p-card>
    <p-card header="Savings">
        <p class="savings">
            4220 EGP
        </p>
    </p-card>
    <p-card header="Transactions">
        <p class="transactions">
            1,232
        </p>
    </p-card>
</div>