<div>
    <p-card header="Monthly Income" class="my-card">
        <p class="income">
            {{monthlyIncomeAmount | currency:'EGP':'symbol-narrow'}}
        </p>
    </p-card>
    <p-card header="Expenses">
        <p class="expenses">
            {{expensesAmount | currency:'EGP':'symbol-narrow'}}
        </p>
    </p-card>
    <p-card header="Balance">
        <p class="balance">
            {{balance | currency:'EGP':'symbol-narrow'}}
        </p>
    </p-card>
    <p-card header="Savings">
        <p class="savings">
            {{savings | currency:'EGP':'symbol-narrow'}}
        </p>
    </p-card>
    <p-card header="Other Income" styleClass="card">
        <p class="income">
            {{ incomeAmount | currency:'EGP':'symbol-narrow'}}
        </p>
    </p-card>
</div>