<div class="container mt-4 text-center">
  <h1>Task Managing App</h1>
</div>

<!-- separator -->
<div class="container mt-5 mb-5">
  <hr>
</div>

<div class="container mt-4">
  <h2>Create a New Task</h2>
  <div style="margin-bottom: 30px;"></div>
  <form>
    <div class="mb-3">
      <label for="taskName" class="form-label">Task Name</label>
      <input type="text" class="form-control" id="taskName" [(ngModel)]="newTask.name" name="taskName" placeholder="Enter task name">
    </div>
    <div class="mb-3">
      <label for="taskDescription" class="form-label">Task Description</label>
      <textarea class="form-control" id="taskDescription" [(ngModel)]="newTask.description" name="taskDescription" placeholder="Enter task description"></textarea>
    </div>
    <div class="mb-3">
      <label for="dueDate" class="form-label">Due Date</label>
      <input type="date" class="form-control" id="dueDate" [(ngModel)]="newTask.dueDate" name="dueDate">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="taskStatus" [(ngModel)]="newTask.status" name="taskStatus">
      <label class="form-check-label" for="taskStatus">Completed</label>
    </div>
    <button type="submit" class="btn btn-primary" (click)="addTask()">Add Task</button>
  </form>
</div>

<!-- separator -->
<div class="container mt-5 mb-5">
  <hr>
</div>

<div class="container mt-4">
  <h2>Task List</h2>
  <div style="margin-bottom: 30px;"></div>
  <div class="row">
    <div class="col-md-4" *ngFor="let task of tasks; let i = index">
      <div class="card mb-3" [ngClass]="{'border-success': task.status, 'border-danger': !task.status}" [style.opacity]="task.status ? '0.7' : '1'">
        <div class="card-header d-flex justify-content-between align-items-center">
          <strong>Task {{ i+1 }}</strong>
          <div>
            <button class="btn btn-light" (click)="editTask(i)" [disabled]="editingIndex !== null">
              <fa-icon style="color: gray;" [icon]="faPen" ></fa-icon>
            </button>
            <button class="btn btn-light" (click)="deleteTask(i)">
              <fa-icon style="color: red;" [icon]="faTrashAlt"></fa-icon>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div *ngIf="editingIndex === i">
            <input type="text" class="form-control mb-2" [(ngModel)]="editedTask.name" placeholder="Task Name">
            <textarea class="form-control mb-2" [(ngModel)]="editedTask.description" rows="3" placeholder="Description"></textarea>
            <input type="text" class="form-control" [(ngModel)]="editedTask.dueDate" placeholder="Due Date (YYYY-MM-DD)">
          </div>
          <div *ngIf="editingIndex !== i">
            <h5 class="card-title" [ngStyle]="{'text-decoration': task.status ? 'line-through' : 'none'}">{{ task.name }}</h5>
            <p class="card-text">{{ task.description }}</p>
            <p class="card-text"><strong>Due Date:</strong> {{ task.dueDate | date:'mediumDate' }}</p>
          </div>
          <p class="card-text"><strong>Status:</strong> 
            <span [ngClass]="{'text-success': task.status, 'text-danger': !task.status}">
              {{ task.status ? 'Completed' : 'Pending' }}
            </span>
          </p>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
          <div>
            <button *ngIf="editingIndex === i" class="btn btn-light" (click)="saveTask(i)">
              <fa-icon style="color: green;" [icon]="faCheck" ></fa-icon>
            </button>
            <button *ngIf="editingIndex === i" class="btn btn-light" (click)="cancelEdit()">
              <fa-icon style="color: gray;" [icon]="faXmark" ></fa-icon>
            </button>
          </div>
          <button class="btn btn-primary ml-auto" (click)="toggleTaskStatus(i)">
            {{ task.status ? 'Mark uncompleted' : 'Mark completed' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- separator -->
<div class="container mt-5 mb-5">
  <hr>
</div>
