<p-card class="card flex justify-content-center">
    <form class="form" [formGroup]="signupForm" (ngSubmit)="signup()">
        <div class="field" style="width: 100%;"> 
            <p class="label" style="width: 100%;">Name</p>
            <input style="width: 100%;" type="text" pInputText placeholder="name" formControlName="displayName" [class.invalid]="isInvalid('displayName')">
            <small class="p-error block" *ngIf="isInvalid('displayName')">{{ getErrorMessage('displayName') }}</small>
        </div>
        <div class="field" style="width: 100%;">
            <p class="label" style="width: 100%;">Email address</p>
            <input style="width: 100%;" type="text" pInputText placeholder="email address" formControlName="email" [class.invalid]="isInvalid('email')">
            <small class="p-error block" *ngIf="isInvalid('email')">{{ getErrorMessage('email') }}</small>
        </div>
        <div class="field" style="width: 100%;">
            <p for="password" class="label" style="width: 100%;">Password</p>
            <input style="width: 100%;" type="password" pInputText placeholder="password" formControlName="password" [class.invalid]="isInvalid('password')">
            <small style="width: 100%;" class="p-error block" *ngIf="isInvalid('password')">{{ getErrorMessage('password') }}</small>
        </div>
        <button style="width: 100%; margin-top: 20px;" type="submit" pButton label="Sign up" [disabled]="signupForm.invalid" style="margin-bottom: 20px;"></button>
    </form>
    <p style="text-align: center;">or</p>
    <button pButton severity="secondary" type="button" (click)="googleSignup()" style="display: flex; margin-bottom: 20px; width: 100%;">Google Sign Up</button>
    <div class="login-link">
        <label class="label">Already have an account? </label>
        
        <a routerLink="/login">Login here</a>
    </div>
</p-card>

<p-dialog header="Oh no!" [modal]="true" [(visible)]="signupError" [style]="{ width: '25rem' }">
    <p>{{ signupErrorMessage }}</p>
    <div class="flex justify-content-center">
        <p-button label="Okay" (click)="signupError = false; signupForm.reset()" />
    </div>
</p-dialog>
