.card {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center align the card */
    height: 100vh;

    /* Set desired height */
    width: 100%;
    /* Set desired width */
     
}

.form {
    display: flex;
    flex-direction: column;
    /* Stack elements vertically */
    align-items: center;
    /* Center align form elements */
    width: 300px;
    /* Set desired width */
}

.field {
    margin-bottom: 20px;
    /* Adjust spacing between fields */
}

.invalid {
    border-color: #f44336;
    /* Change border color for invalid fields */
}

.p-error {
    color: #f44336;
    /* Change color for error messages */
}

.block {
    display: block;
}