<app-page-wrapper>
    <p-panel header="Add a New Budget">
        <p-button (click)="showDialog()" label="+ New" />
        <p-dialog header="New Budget" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem'}" >
                <input type="number" pInputText [(ngModel)]="newBudget.amount" placeholder="amount" />
                <p-slider [(ngModel)]="newBudget.amount" [min]="1" [max]="10000" />
                <input type="text" pInputText [(ngModel)]="newBudget.name" placeholder="Name" />
                <input type="text" pInputText [(ngModel)]="newBudget.description" placeholder="description" />
                <p *ngIf="!isFormValid()" class="error-message">Please enter a name and amount above 0.</p>
                <br/>
                <div class="add">
                    <p-button label="Add" (click)="addBudget(newBudget)" [disabled]="!isFormValid()" />
                </div>
            
        </p-dialog>
    </p-panel>
    <div>
        <p-card *ngFor="let budget of budgets" [header]="budget.name">
            <div class="deletebtn" (click)="deleteBudget(budget.id)">
            <p-button icon="pi pi-times" [rounded]="true" severity="danger" class="delete"></p-button>
            </div>
            <p-accordion>
                <p-accordionTab header="Decription" [disabled]="!budget.description || budget.description.trim().length === 0"><p>{{ budget.description }}</p></p-accordionTab>
            </p-accordion>
            <p>Amount: ${{ budget.amount }}</p>
            <p-progressBar [value]="calculateProgress(budget)"></p-progressBar>
        </p-card>
    </div>
    
</app-page-wrapper>
