.form-layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form-label {
  width: 12rem; /* Consistent width for labels */
  font-weight: bold;
}

.form-input {
  flex: 1; /* Take up remaining space */
}
.form-submit-cont {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.search-cont {
  display: flex;
  gap: 20px;
  align-items: center;
}

::ng-deep .p-datepicker table td {
  padding: 0rem;
}
::ng-deep .p-datepicker {
  padding: 0rem;
}

.new-button {
  margin-right: 20px;
}
